*{
    margin: 0;
}

section{
    display: flex;
    justify-content: space-between;
}

video{
    height: 85vh;
    width: 100vw;
    border: 1px solid black;
}

audio{
    bottom: 0;
    position: relative;
}

